/* font import */
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300&family=Open+Sans:wght@300&display=swap");

/* universal reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", monospace;
}

/* background */
body {
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("background.jpg");
}

/* main-title */
.title {
  font: 1rem;
  color: #ffffff;
  font-size: 6em;
  font-weight: 400;
  text-shadow: #505050 0 0 1rem;
  pointer-events: none;
  padding: 8rem 0 0 0;
}

/* title-description */
p {
  color: #b8b8b8;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 400;
  font-style: italic;
  transition: 1s ease-in-out;
  text-shadow: #575757 0 0 1rem;
}

p:hover {
  color: #ffffff;
  font-size: 2rem;
  padding: 1rem;
  font-weight: 400;
  text-shadow: #565656 0 0 1rem;
  cursor: pointer;
  font-style: italic;
  transition: 1s ease-in-out;
}

/* title-align */
.title,
p {
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* navigation-bar */
.nav-bar ul {
  padding: 1rem 0;
  list-style: none;
  flex-direction: row;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
}

.nav-bar {
  background-color: #6c6c6c31;
  width: 100%;
}
/* button-content */
li {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: #ffffff32;
  border-radius: 1rem;
  transition: 0.5s ease-in-out;
}

li:hover {
  background-color: #00000048;
  transition: 0.5s ease-in-out;
}

/* button-links */
a {
  color: #505050;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s ease-in-out;
}

/* responsive */
@media only screen and (max-width: 600px) {
  .title {
    font-weight: 400;
    text-shadow: #505050 0 0 1rem;
    pointer-events: none;
    font-size: 4rem;
    padding: 0;
  }
  p,
  p:hover {
    font-size: 2rem;
  }
  .nav-bar ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .title {
    padding: 2rem;
  }
}
